.fond {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.texte_paysage {
    font-size: 48px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.paysage {
    width: 90%;
    height: 223px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.container {
    display: flex;
    justify-content: center;
}

.container_logements {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin: 20px;
    padding: 2% 0;
}


.card_logement {
    flex: 0 0 28%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    margin: 2%;
    overflow: hidden;
}

.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
  }

.card_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.card_title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 5px;
  }

@media screen and (max-width: 1024px) {
    .texte_paysage {
        font-size: 34px;     
    }

    .container_logements {
        justify-content: space-evenly;
    }

    .card_logement {
        flex: 0 44%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 430px) {
    .texte_paysage {
        font-size: 24px;
        left: 40%;
        text-align:left;
    }

    .paysage {
        height: 111px;
        object-fit: cover;
    }

    .container_logements {
        background-color: white;
        margin: 0;
    }

    .card_logement {
        flex: 100%;
        aspect-ratio:initial
    }
}