.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5.5%;
  
    img {
      width: 150px;
  
      @media screen and (max-width: 1024px) {
        width: 130px;
      }
    }
  
    a {
      color: #FF6060;
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      padding-left: 40px;
  
      @media screen and (max-width: 1024px) {
        font-size: 20px;
        padding-left: 20px;
      }
  
      @media screen and (max-width: 430px) {
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  