.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5.5%;
}

.header a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    padding-left: 40px;
}

@media screen and (max-width: 1024px) {
    .header img {
        width: 150px;
    }

    .header a {
        font-size: 20px;
        padding-left: 20px;
    }


}


@media screen and (max-width: 430px) {
    .header img {
        width: 130px;
    }

    .header a {
        font-size: 12px;
        text-transform: uppercase;
     }


}